<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ titel }}</title>
</head>
<body>
<table>
    <th>Id</th>
    <th>gebruiker</th>
    <th>email</th>
    <th>achtergrond</th>
    <th>leeftijd</th>
    <th>geslacht</th>
    <th>kinderen</th>
    <th>lengte</th>
    <th>type</th>
    <th>roker</th>
    <tbody>
    <tr>
        <td>{{ gebruiker.gebruikerId }}</td>
        <td>{{ gebruiker.naam }}</td>
        <td>{{ gebruiker.email }}</td>
        <td>{{ gebruiker.etnischeAchtergrondId }}</td>
        <td>{{ gebruiker.voorkeurGeboorteDatum }}</td>
        <td>{{ gebruiker.voorkeurGeslacht }}</td>
        <td>{{ gebruiker.voorkeurKinderen }}</td>
        <td>{{ gebruiker.voorkeurLengte }}</td>
        <td>{{ gebruiker.voorkeurPersoonlijkheidsType }}</td>
        <td>{{ gebruiker.voorkeurRoker }}</td>
    </tr>
    </tbody>
</table>

</body>
</html>