<!DOCTYPE html>

{{ include('head.twig') }}

<body>




    {{ include('header.twig') }}

    <div class="container main clearfix">
    <main class="clearfix">
        <div class="col1 left">

                <nav class="profileNav">
                   <ul>
                        <li><a class="active" href="kenmerken.php">Kenmerken</a></li>
                        <li><a href="voorkeuren.php">Voorkeuren</a></li>
                        <li><a href="gebruikerinstellingen.php">Beheren</a></li>
                   </ul>
               </nav>

        </div>


        <div class="col2 right">
            <div class="padbox clearfix">
                <h2>Mijn kenmerken</h2>
                <p>In deze lijst stelt u, uw eigen kenmerken in. Als je een kenmerk niet wil invullen, dan laat je die leeg.</p>
            <form action="kenmerken.php" method="POST" id="kenmerkForm">
                <div class="col left">

                          
                    <label for="geboorteDatum">Geboortedatum
                        <input type="date" name="geboortedatum" id="geboorteDatum" value="{{ gebruiker.geboorteDatum}}">

                    </label>

                    <p>Geef hier je geboortedatum in, dit moet in een dd/mm/jjjj formaat. {{ gebruiker.geboorteDatum}}</p>

                    <label for="Lengte">Lengte
                        <input type="text" name="lengte" id="Lengte" value="{{ gebruiker.lengte }}">

                    </label>

                    <p>Geef hier uw voorkeur lengte uitgedrukt in centimer.</p>


                    {#  <label for="{{ lichaamsName }}">{{ titellichaamstypes }}
                        <select data-placeholder="Kies voorkeur {{ titellichaamstypes }} (je kan meerdere selecteren)" class="chosen-select" multiple style="width: 100%; margin-top: 20px;" tabindex="2" name="{{ lichaamsName }}" id="{{ lichaamsName }}">

                            {% for lichaamtype in lichaamstypes %}
                                <option value="{{ lichaamtype.lichaamstypeId }}">{{ lichaamtype.lichaamstype }}</option>
                            {% endfor %}

                        </select>
                    </label> #}

                     <label for="{{ opleidingName }}">{{ titelopleidingsniveau }}
                        <select data-placeholder="Kies voorkeur {{ titelopleidingsniveau }} (je kan meerdere selecteren)" tabindex="2" name="{{ opleidingName }}" id="{{ opleidingName }}" >

                        {% for opleidingsniveau in opleidingsNiveaus %}
                            {% if opleidingsniveau.oplNiveauId == gebruiker.opleidingsNiveau %}
                                <option value="{{ opleidingsniveau.oplNiveauId }}" selected>{{ opleidingsniveau.opleidingsNiveau }}</option>
                            {% else %}
                                <option value="{{ opleidingsniveau.oplNiveauId }}">{{ opleidingsniveau.opleidingsNiveau }}</option>
                            {% endif %}
                        {% endfor %}

                        </select>


                    </label>

                    <p>Geef hier uw voorkeur opleidingniveaus, u kan meerdere selecteren van de lijst.</p>

                    <label for="persoonlijkheid">Introvert<em>Extrovert</em>
                        <input type="range" min="1" max="5" step="1" value="{{ gebruiker.persoonlijkheidsType }}" name="persoonlijkheid" id="persoonlijkheid" class="range"/>
                    </label>

                    <p>Verkiest u iemand intro of extrovert? Sleep de slider naar wat u verkiest.</p>


                </div>

                <div class='col left'>

                     <fieldset>Roker?
                        {% if gebruiker.roker == 0 %}
                            <div><input type="radio" name="roker" value="0" checked>Nee</div>
                            <div><input type="radio" name="roker" value="1" >Ja</div>
                        {% else %}
                            <div><input type="radio" name="roker" value="0" >Nee</div>
                            <div><input type="radio" name="roker" value="1" checked>Ja</div>
                        {% endif %}
                     </fieldset>

                     <p>Verkiest u een roker of niet roker? Als u onverschillig bent laat u de knoppen leeg.</p>

                     {% if gebruiker.aantalKinderen > 0 %}

                        <fieldset>Kinderen?
                            <div><input type="radio" name="kinderen" id="neeKinderen" value="0">Nee</div>
                            <div><input type="radio" name="kinderen" id="jaKinderen" value="1" checked>Ja</div>
                        </fieldset>

                        <label id="lbAantalKinderen">Hoeveel kinderen heeft u?
                        <input type="text" id="aantalKinderen" value="{{ gebruiker.aantalKinderen }}" name="aantalKinderen" placeholder="Aantal Kinderen" ></label>

                    {% else %}
                        
                        <fieldset>Kinderen?
                            <div><input type="radio" name="kinderen" id="neeKinderen" value="0" checked>Nee</div>
                            <div><input type="radio" name="kinderen" id="jaKinderen" value="1">Ja</div>
                        </fieldset>

                        <label id="lbAantalKinderen">Hoeveel kinderen heeft u?
                        <input type="text" id="aantalKinderen" value="0" name="aantalKinderen" placeholder="Aantal Kinderen" ></label>

                    {% endif %}
                   
                    <p>Vind je het een struikelblok als uw toekomstige partner al kinderen heeft? Als u onverschillig bent laat u de knoppen leeg.</p>



                    <label for="{{ oogName }}">{{ titeloogkleur }}
                        <select data-placeholder="Kies een voorkeur {{ titeloogkleur }}" tabindex="2" name="{{ oogName }}" id="{{ oogName }}">

                        {% for oogkleur in oogkleuren %}
                            {% if oogkleur.oogkleurId == gebruiker.oogkleur %}
                                <option value="{{ oogkleur.oogkleurId }}" selected>{{ oogkleur.oogkleur }}</option>
                            {% else %}
                                <option value="{{ oogkleur.oogkleurId }}">{{ oogkleur.oogkleur }}</option>
                            {% endif %}
                        {% endfor %}

                        </select>


                    </label>

                    <p>Selecteer hier de mooiste oogkleuren.</p>

                    <label for="{{ haarName }}">{{ titelhaarkleur }}
                        <select data-placeholder="Kies voorkeur {{ titelhaarkleur }}" tabindex="2" name="{{ haarName }}" id="{{ haarName }}">

                        {% for haarkleur in haarkleuren %}
                            {% if haarkleur.haarkleurId == gebruiker.haarkleur %}
                                <option value="{{ haarkleur.haarkleurId }}" selected>{{ haarkleur.haarkleur }}</option>
                            {% else %}
                                <option value="{{ haarkleur.haarkleurId }}">{{ haarkleur.haarkleur }}</option>
                            {% endif %}
                        {% endfor %}

                        </select>


                    </label>

                    <p>Valt u op blondines? Selecteer dan in deze lijst blondine!</p>


                    <label for="{{ etnName }}">{{ titeletnachtergronden }}
                        <select data-placeholder="Kies voorkeur {{ titeletnachtergronden }}" tabindex="2" name="{{ etnName }}" id="{{ etnName }}">

                            {% for etnischeachtergrond in etnAchtergronden %}
                                    {% if etnischeachtergrond.etnischeAchtergrondId == gebruiker.etnischeAchtergrond %}
                                        <option value="{{ etnischeachtergrond.etnischeAchtergrondId }}" selected>{{ etnischeachtergrond.etnischeAchtergrond }}</option>
                                    {% else %}
                                         <option value="{{ etnischeachtergrond.etnischeAchtergrondId }}">{{ etnischeachtergrond.etnischeAchtergrond }}</option>
                                     {% endif %}
                            {% endfor %}

                        </select>


                    </label>

                    <p>Heeft u voorkeur voor een bepaalde etnische achtergrond? Selecteer in deze lijst. U kan meerdere waarden selecter</p>
            </div>

            <input type="submit" value="Opslaan" name="updateKenmerken">

        </form>

                <form action="kenmerken.php" method="post" enctype="multipart/form-data">
                    <div class="col left">

                        <fieldset>

                            <p>Profielfoto:</p>
                            <p>Selecteer een afbeelding om te uploaden: max 5MB - JPG, JPEG, PNG, GIF</p>

                            <div class="left">
                                <input type="file" name="fileToUpload" id="fileToUpload" class="inputfile">

                            </div>

                        </fieldset>

                        <input type="submit" value="Verander profielfoto" name="fotoUpload">
                    </div>
                </form>

        </div>


        </div>
    </main>
    </div>

    {{ include('footer.twig') }}






<!-- Config van Chosen -->
<script type="text/javascript">
    var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width'     : {width:"100px"}
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>

<script src="library/vendor/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script src="js/kenmerken.js" type="text/javascript"></script>

</body>
</html>
