<!DOCTYPE html>

{{ include('head.twig') }}

<body>




    {{ include('header.twig') }}

    <div class="container main clearfix">
    <main class="clearfix">
        <div class="col1 left">

                <nav class="profileNav">
                   <ul>
                        <li><a href="kenmerken.php">Kenmerken</a></li>
                        <li><a class="active" href="voorkeuren.php">Voorkeuren</a></li>
                        <li><a href="gebruikerinstellingen.php">Beheren</a></li>
                   </ul>
               </nav>

        </div>


        <div class="col2 right">
            <div class="padbox clearfix">
                <h2>Mijn voorkeuren</h2>
                <p>In deze lijst stel je opties in die het matchen efficienter maken, hoe meer je instelt, hoe beter de match!</p>
            <form action="voorkeuren.php" method="post" id="voorkeurForm">
                <div class="col left">



                    <label for="geboorteDatum">Geboortedatum
                        {% if gebruiker.voorkeurGeboorteDatum %}

                            <input type="date" name="geboortedatum" id="geboorteDatum" title="geboortedatum in dd/mm/jjjj formaat" value="{{ gebruiker.voorkeurGeboorteDatum }}">

                        {% else %}

                            <input type="date" name="geboortedatum" id="geboorteDatum" title="geboortedatum in dd/mm/jjjj formaat">

                        {% endif %}
                    </label>

                    <p>Geef hier je voorkeur geboortedatum in, dit moet in een dd/mm/jjjj formaat.</p>

                    <label for="Lengte">Lengte
                        {% if gebruiker.voorkeurLengte %}
                            <input type="text" name="lengte" id="Lengte" title="lengte in centimeter" value="{{ gebruiker.voorkeurLengte }}">
                        {% else %}
                            <input type="text" name="lengte" id="Lengte" title="lengte in centimeter">
                        {% endif %}


                    </label>

                    <p>Geef hier uw voorkeur lengte uitgedrukt in centimeter.</p>


                    {#  <label for="{{ lichaamsName }}">{{ titellichaamstypes }}
                        <select data-placeholder="Kies voorkeur {{ titellichaamstypes }} (je kan meerdere selecteren)" class="chosen-select" multiple style="width: 100%; margin-top: 20px;" tabindex="2" name="{{ lichaamsName }}" id="{{ lichaamsName }}">

                            {% for lichaamtype in lichaamstypes %}
                                <option value="{{ lichaamtype.lichaamstypeId }}">{{ lichaamtype.lichaamstype }}</option>
                            {% endfor %}

                        </select>
                    </label> #}

                     <label class="ignore">{{ titelopleidingsniveau }}
                        <select data-placeholder="Kies voorkeur {{ titelopleidingsniveau }} (je kan meerdere selecteren)" tabindex="2" name="{{ opleidingName }}" id="{{ opleidingName }}">

                        {% for opleidingsniveau in opleidingsNiveaus %}

                            {% if opleidingsniveau.oplNiveauId == gebruiker.voorkeurOpleidingsNiveau %}

                                <option value="{{ opleidingsniveau.oplNiveauId }}" selected>{{ opleidingsniveau.opleidingsNiveau }}</option>
                            
                            {% else %}

                                <option value="{{ opleidingsniveau.oplNiveauId }}">{{ opleidingsniveau.opleidingsNiveau }}</option>
                            
                            {% endif %}

                        {% endfor %}

                        </select>


                    </label>

                    <p>Geef hier uw voorkeur opleidingniveaus (minimum)</p>

                    <label class="ignore">Introvert<em>Extrovert</em>
                        {% if gebruiker.voorkeurPersoonlijkheidsType %}
                            <input type="range" min="1" max="5" step="1"
                                   value="{{ gebruiker.voorkeurPersoonlijkheidsType }}" name="persoonlijkheid"
                                   id="persoonlijkheid" class="range" title="introvert of extrovert">

                        {% else %}
                            <input type="range" min="1" max="5" step="1" value="3" name="persoonlijkheid"
                                   id="persoonlijkheid" class="range" title="introvert of extrovert">
                        {% endif %}

                    </label>

                    <p>Verkiest u iemand intro of extrovert? Sleep de slider naar wat u verkiest.</p>


                </div>

                <div class='col left'>

                   <!-- <div class="radio">
                        <input type="radio" name="rokernee" value="0">
                        <label for="rokernee">Nee</label>
                         <input type="radio" name="rokerja" value="1">
                        <label for="rokerja">Ja</label>
                    </div> -->

                     <fieldset>Roker?
                        {% if gebruiker.voorkeurRoker == 0 %}
                          <div><input type="radio" name="roker" value="0" title="roker nee" checked>Nee</div>
                          <div><input type="radio" name="roker" value="1" title="roker ja">Ja</div>
                        {% else %}
                            <div><input type="radio" name="roker" value="0" title="roker nee" >Nee</div>
                          <div><input type="radio" name="roker" value="1" title="roker ja" checked>Ja</div>
                        {% endif %}
                     </fieldset>

                     <p>Verkiest u een roker of niet roker? Als u onverschillig bent laat u de knoppen leeg.</p>

                    <fieldset>Kinderen?
                        {% if gebruiker.voorkeurKinderen == 0 %}
                            <div><input type="radio" name="kinderen" value="0" title="kinderen nee" checked>Nee</div>
                            <div><input type="radio" name="kinderen" value="1" title="kinderen ja">Ja</div>
                        {% else %}
                            <div><input type="radio" name="kinderen" value="0" title="kinderen nee" checked>Nee</div>
                            <div><input type="radio" name="kinderen" value="1" title="kinderen ja">Ja</div>
                        {% endif %}
                    </fieldset>

                    <p>Vind je het een struikelblok als uw toekomstige partner al kinderen heeft? Als u onverschillig bent laat u de knoppen leeg.</p>



                    <label class="ignore">{{ titeloogkleur }}
                        <select data-placeholder="Kies een voorkeur {{ titeloogkleur }} (je kan meerdere selecteren)" class="chosen-select ignore" style="width: 100%; margin-top: 20px;" multiple tabindex="2" name="{{ oogName }}" id="{{ titeloogkleur }}">

                        {% for oogkleur in oogkleuren %}

                                {% if oogkleur.oogkleurId in voogkleuren %}

                                    <option value="{{ oogkleur.oogkleurId }}" selected>{{ oogkleur.oogkleur }}</option>

                                {% else %}

                                    <option value="{{ oogkleur.oogkleurId }}">{{ oogkleur.oogkleur }}</option>

                                {% endif %}

                        {% endfor %}

                        </select>

                    </label>

                    <p>Selecteer hier de mooiste oogkleuren.</p>

                    <label class="ignore">{{ titelhaar }}
                        <select data-placeholder="Kies voorkeur {{ titelhaar }} (je kan meerdere selecteren)" class="chosen-select" multiple style="width: 100%; margin-top: 20px;" tabindex="2" name="{{ haarName }}" id="{{ titelhaar }}">

                            {% for haarkleur in haarkleuren %}


                                    {% if haarkleur.haarkleurId in vhaarkleuren %}

                                        <option value="{{ haarkleur.haarkleurId }}"
                                                selected>{{ haarkleur.haarkleur }}</option>

                                    {% else %}

                                        <option value="{{ haarkleur.haarkleurId }}">{{ haarkleur.haarkleur }}</option>

                                    {% endif %}


                            {% endfor %}
                        </select>

                    </label>

                    <p>Valt u op blondines? Selecteer dan in deze lijst blondine!</p>



                    <label class="ignore">{{ titeletnachtergronden }}
                        <select data-placeholder="Kies voorkeur {{ titeletnachtergronden }} (je kan meerdere selecteren)" class="chosen-select" multiple style="width: 100%; margin-top: 20px;" tabindex="2" name="{{ etnName }}" id="{{ etnName }}">

                            {% for etnischeachtergrond in etnAchtergronden %}

                                    {% if etnischeachtergrond.etnischeAchtergrondId in vetn %}

                                        <option value="{{ etnischeachtergrond.etnischeAchtergrondId }}" selected>{{ etnischeachtergrond.etnischeAchtergrond }}</option>

                                    {% else %}

                                        <option value="{{ etnischeachtergrond.etnischeAchtergrondId }}">{{ etnischeachtergrond.etnischeAchtergrond }}</option>

                                    {% endif %}

                            {% endfor %}



                        </select>


                    </label>
                    <p>Heeft u voorkeur voor een bepaalde etnische achtergrond? Selecteer in deze lijst. U kan meerdere waarden selecter</p>

            </div>

                            <input type="submit" value="Opslaan" name="updateVoorkeuren">
        </form>

        </div>
        </div>
    </main>
    </div>

    {{ include('footer.twig') }}






<!-- Config van Chosen -->
<script type="text/javascript">
    var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width'     : {width:"100px"}
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>

<script src="library/vendor/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script src="js/voorkeuren.js" type="text/javascript"></script>


</body>
</html>
