<!doctype html>

<html lang="en">

{{ include('head.twig') }}

<body>



<div class="container">

    {{ include('header.twig') }}


    <main class="clearfix">
        <div class="col1 left">
            <div class="padbox">
               <ul>
                    <li><a href="#">Test</a></li>
                    <li><a href="#">Test</a></li>
                    <li><a href="#">Test</a></li>
               </ul>
           </div>
        </div>
    

        <div class="col2 right">
            <div class="padbox">
            <form action="voorkeuren.php" method="get">
                <div class="col left">

                    <label for="geboorteDatum">geboortedatum
                    <input type="date" name="geboortedatum" id="geboorteDatum"></label>
                    
                    <label for="Lengte">Lengte
                    <input type="text" name="Lengte" id="Lengte"></label>
                

                    {#  <label for="{{ lichaamsName }}">{{ titellichaamstypes }}
                        <select data-placeholder="Kies voorkeur {{ titellichaamstypes }} (je kan meerdere selecteren)" class="chosen-select" multiple style="width: 100%;" tabindex="2" name="{{ lichaamsName }}" id="{{ lichaamsName }}">

                            {% for lichaamtype in lichaamstypes %}
                                <option value="{{ lichaamtype.lichaamstypeId }}">{{ lichaamtype.lichaamstype }}</option>
                            {% endfor %}

                        </select>
                    </label> #}

                     <label for="opleidingsniveau">{{ titelopleidingsniveau }}
                        <select data-placeholder="Kies voorkeur {{ titelopleidingsniveau }} (je kan meerdere selecteren)" class="chosen-select" multiple style="width: 100%;" tabindex="2" name="{{ opleidingsName }}" id="{{ opleidingsName }}">
                    
                        {% for opleidingsniveau in opleidingsNiveaus %}
                            <option value="{{ opleidingsniveau.oplNiveauId }}">{{ opleidingsniveau.opleidingsNiveau }}</option>
                        {% endfor %}

                        </select>
                    </label>

                    <label for="persoonlijkheid">Extrovert of Introvert?
                        <input type="range" min="1" max="5" step="1" value="3" name="persoonlijkheid" id="persoonlijkheid" />
                    </label>
                    

                </div>

                <div class='col left'>

                    <fieldset>Roker?
                        <input type="radio" name="roker" value="1">Ja</input>
                        <input type="radio" name="roker" value="0">Nee</input>
                    </fieldset>
             
                    <fieldset>Kinderen?
                        <input type="radio" name="Kinderen" value="1">Ja
                        <input type="radio" name="Kinderen" value="0">Nee
                    </fieldset>
                
                    

                    <label for="{{ titeloogkleur }}">{{ titeloogkleur }}
                        <select data-placeholder="Kies een voorkeur {{ titeloogkleur }} (je kan meerdere selecteren)" class="chosen-select" multiple style="width: 100%;" tabindex="2" name="{{ titeloogkleur }}" id="{{ titeloogkleur }}">
                    
                        {% for oogkleur in oogkleuren %}
                            <option value="{{ oogkleur.oogkleurId }}">{{ oogkleur.oogkleur }}</option>
                        {% endfor %}

                        </select>
                    </label>
            
                    <label for="haarkleuren">{{ titelhaar }}
                        <select data-placeholder="Kies voorkeur {{ titelhaar }} (je kan meerdere selecteren)" class="chosen-select" multiple style="width: 100%;" tabindex="2" name="{{ titelhaar }}" id="{{ titelhaar }}">

                        {% for haarkleur in haarkleuren %}
                            <option value="{{ haarkleur.haarkleurId }}">{{ haarkleur.haarkleur }}</option>
                        {% endfor %}
                
                        </select>
                    </label>



                    <label for="etniciteit">{{ titeletnachtergronden }}
                        <select data-placeholder="Kies voorkeur {{ titeletnachtergronden }} (je kan meerdere selecteren)" class="chosen-select" multiple style="width: 100%;" tabindex="2" name="{{ etnName }}" id="{{ etnName }}">

                            {% for etnischeachtergrond in etnAchtergronden %}
                                <option value="{{ etnischeachtergrond.etnischeAchtergrondId }}">{{ etnischeachtergrond.etnischeAchtergrond }}</option>
                            {% endfor %}

                        </select>
                    </label>
            </div>

            <input type="submit" value="Submit">
        </form>

        </div>
    </div>
    </main>

    {{ include('footer.twig') }}
    
</div>




<!-- Config van Chosen -->
<script type="text/javascript">
    var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width'     : {width:"95%"}
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>


</body>
</html>
